<div class="about-container">
  <h1>About Us</h1>
  <p class="about-description">
    Welcome to 4CCCL! We are dedicated to supporting the Children's Cancer Center of Lebanon and raising awareness through various initiatives and events. Child cancer rates in Lebanon have risen, and the ongoing economic crisis makes it challenging for families to afford treatments. The Children's Cancer Center of Lebanon (CCCL) relies on donations, but local contributions are limited. To support this cause, we founded 4CCCL at UMass to engage the diverse student community in raising funds through events like lectures, game nights, bake sales, and an annual thrift pop-up. Our goal is to unite students in supporting CCCL, regardless of their background or major.
  </p>
</div>

<div class="e-board-container">
  <h1>Meet Our E-Board</h1>
  <div class="e-board-grid">
    <!-- Loop through each member -->
    <div *ngFor="let member of eBoardMembers" class="member-card">
      <div class="member-photo" [ngStyle]="{'background-image': 'url(' + member.photo + ')'}"></div>
      <!-- Only show description on desktop -->
      <div class="member-description">
        <h1>{{ member.name }}</h1>
        <h2>{{ member.role }}</h2>
        <p>{{ member.description }}</p>
      </div>
    </div>
  </div>
</div>
