<div class="events-section">
  <div class="events-container">
    <!-- Calendar will be displayed here in a flexbox layout -->
    <div class="calendar-container">
      <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&bgcolor=%23ffffff&src=MGJhYTkxYTE5NWNlYWYxYWNiNmIwMjc5YWY2MDE3MGVkZmIzZWIwMDZlNjdlZjhhOGY4ZjBhNGM2M2VmM2M4N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F6BF26" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  </div>
</div>
