<div class="venmo-container">
  <h1>Support the Children's Cancer Center of Lebanon</h1>
  <p>
    Your contribution helps us provide better care and support for children in
    need.
  </p>

  <div class="venmo-info">
    <a
      [href]="'https://venmo.com/u/Georges-Chebly'"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/venmo_logo.png" alt="Venmo Logo" class="venmo-logo" />
    </a>
    <!-- <p>Send your donation via Venmo to:</p>
    <h2>{{ venmoUsername }}</h2> -->
    <!-- Display the Venmo handle -->

    <!-- Display the Venmo QR code -->
    <img src="assets/venmo-qr.png" alt="Venmo QR Code" class="venmo-qr" />
  </div>

  <p>Scan the QR code or search for our Venmo handle to donate!</p>
</div>
